{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recurring Transaction</title>
</head>
<body>

    <h2>Delete Recurring Transaction</h2>
    <p>Are you sure you want to delete "{{ transaction.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'recurring_transaction_list' %}" class="btn btn-secondary">Cancel</a>
    </form>

</body>
</html>