{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Deposit</title>
</head>
<body>

    <h1>Add Deposit</h1>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Save Deposit</button>
    </form>

    <a href="{% url 'transaction_list' %}">
        <button type="button">Cancel</button>
    </a>

</body>
</html>