<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking Dashboard</title>
</head>
<body>

    <h1>Welcome to Your Banking Dashboard!</h1>

    <button>Deposit</button> <button>Withdraw</button>

    <h2>Bank Accounts
        <a href="{% url 'create_account' %}">
        <button>Add</button>
        </a>
    </h2> 

    <ul>
        {% for account in accounts %}
            <li style="margin-bottom: 20px;">
                <b>{{ account.account_name }} | ${{ account.account_balance }}</b>
                <a href="{% url 'view_account' account.account_no %}"><button>View</button></a>
            </li>
        {% endfor %}
    </ul>

    <!-- Button to go to the transactions page -->
    <a href="{% url 'transaction_list' %}">
        <button>View All Transactions</button>
    </a>

    <!-- List of the 5 most recent transactions -->
    <h2>Recent Transactions</h2>
    <ul>
        {% for transaction in recent_transactions %}
            <li>{{ transaction.name }} | {{ transaction.transaction_type }} | ${{ transaction.amount }} | {{ transaction.date }}</li>
        {% empty %}
            <li>No recent transactions.</li>
        {% endfor %}
    </ul>

</body>
</html>
