<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking Dashboard</title>
</head>
<body>

    <h1>Account Information:</h1>
 
    <p style="text-transform: capitalize;">
        <b>Balance</b>:
        ${{ account.account_balance }}
    </p>

    <p>
        <b>Type:</b> {{ account.account_type }}
    </p>

    <p>
        <b>Account Number:</b> {{ account.account_no }} 
    </p>

    <p>
        <b>Routing Number:</b> {{ account.routing_no }} 
    </p>

</body>
</html>